@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Onest';
    src: url('../public/fonts/Onest-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Onest';
    src: url('../public/fonts/Onest-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Onest';
    src: url('../public/fonts/Onest-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


.backgroundImage {
    background-image: url('/images/blue-glass-shapes-composition-3d-rendering.png');
    background-position: top;
    background-repeat: no-repeat;
    background-color: #E8EDEE;
    padding-top: 32px;
}

@media (min-width: 768px) {
    .backgroundImage {
    background-size: auto 90%;
}}

@media (min-width: 1440px) {
    .backgroundImage {
    background-size: 100% auto;
}}

.font-regular {
    font-family: var(--font-onest-regular);
}
  
.font-medium {
    font-family: var(--font-onest-medium);
}
  
.font-bold {
    font-family: var(--font-onest-bold);
}

.line-h2 {
    line-height: 33.6px;
}

@media (min-width: 1440px) {
    .line-h2 {
        line-height: 38.4px;
    }
}

.line-h1 {
    line-height: 57.2px;
}

@media (min-width: 1440px) {
    .line-h1 {
        line-height: 88px;
    }
}